<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <link href="css/bootstrap.css" rel="stylesheet" />
    <style type="text/css">
        table thead tr th {
            text-align:center;
        }
    </style>
</head>
<body>
    <div style="padding:20px;" id="app">
        <div class="panel panel-primary">
            <div class="panel-heading">用户管理</div>
            <table class="table table-bordered table-striped text-center">
                <thead>
                    <tr>
                        <th>用户名</th>
                        <th>编号</th>
                        <th>公司</th>
                        <th>备注</th>
                    </tr>
                </thead>
                <tbody>
                    <template v-for="(index, row) in rows ">
                        <tr v-if="(index>=(curpage-1)*pagesize)&&(index<curpage*pagesize)">
                            <td>{{row.Name}}</td>
                            <td>{{row.Id}}</td>
                            <td>{{row.School}}</td>
                            <td>{{row.Remark}}</td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </div>
        <nav style="float:right;">
            <ul class="pagination pagination-lg">
                <li v-if="curpage==1" class="disabled"><a href="#">上一页</a></li>
                <li v-else v-on:click="PrePage()" ><a href="#">上一页</a></li>
                <template v-for="page in pageCount">
                    <li v-if="page==curpage" class="active" v-on:click="NumPage(page, $event)"><a href="#">{{page+1}}</a></li>
                    <li v-else v-on:click="NumPage(page, $event)"><a href="#">{{page+1}}</a></li>
                </template>
                <li v-if="curpage==pageCount" class="disabled"><a href="#">下一页</a></li>
                <li v-else @click="NextPage()" ><a href="#">下一页</a></li>
            </ul>
        </nav>
    </div>
</body>
<script src="js/vue.min.js"></script>
<script type="text/javascript" charset="utf-8">
    //Model
        var data = {
            rows: [
            { Name: '小明', Id: 1, School: '网易', Remark: '第一天上班' },
            { Name: '小刚', Id: 2, School: '阿里巴巴', Remark: '第二天上班' },
            { Name: '小强', Id: 3, School: '百度', Remark: '第三天上班' },
            { Name: '李华', Id: 4, School: '网易', Remark: '第四天上班' },
            { Name: '小红', Id: 5, School: '阿里巴巴', Remark: '第五天上班' },
            { Name: '小强', Id: 6, School: '腾讯', Remark: '第六天上班' },
            { Name: '小刚', Id: 7, School: '网易', Remark: '第七天上班' },
            { Name: '小强', Id: 8, School: '阿里巴巴', Remark: '第八天上班' },
            { Name: '李华', Id: 9, School: '百度', Remark: '第九天上班' },
            { Name: '小强', Id: 10, School: '网易', Remark: '第十天上班' },
            { Name: '小红', Id: 11, School: '阿里巴巴', Remark: '第十一天上班' },
            { Name: '小刚', Id: 12, School: '腾讯', Remark: '第十二天上班' },
            { Name: '小红', Id: 13, School: '网易', Remark: '第十三天上班' },
            { Name: '李华', Id: 14, School: '百度', Remark: '第十四天上班' },
            { Name: '小刚', Id: 15, School: '网易', Remark: '第十五天上班' },
            { Name: '小红', Id: 16, School: '阿里巴巴', Remark: '第十六上班' },
            { Name: '李华', Id: 17, School: '腾讯', Remark: '第十七天上班' },
            { Name: '小红', Id: 18, School: '网易', Remark: '第十八天上班' },
            { Name: '小刚', Id: 19, School: '阿里巴巴', Remark: '第十九天上班' },
            { Name: '李华', Id: 20, School: '腾讯', Remark: '第二十天上班' },
            ],
            pagesize: 6,
            curpage:1,//当前页的页码
        };
    //ViewModel
    var vue = new Vue({
        el: '#app',
        data: data,
        created:function(){
            this.pageCount = Math.ceil(this.rows.length/this.pagesize);
        },
        methods: {
            //上一页方法
            PrePage: function (event) {
                if (this.curpage>1) {
                    this.curpage = this.curpage-1;
                }
            },
            //下一页方法
            NextPage: function (event) {
                if (this.curpage < this.pageCount) {
                    this.curpage = this.curpage+1;
                }
            },
            //点击页码的方法
            NumPage: function (num, event) {
                if (this.curpage == num+1) {
                    return;
                }
                this.curpage = ++num;
            }
        }
    });
</script>
</html>