.imageroll{
	float:left;
	width:550px;
	height:345px;
	overflow:hidden;
	position:relative;
}
	.imageroll img{
	width:100%;
	height:auto;
	}
	#jnImageroll div{
		overflow:hidden;
		position:absolute;
		bottom:0px;
		float:left;
	}
	#jnImageroll div a{
		background-color:#444444;
		color:#ffffff;
		display:inline-block;
		float:left;
		height:50px;
		margin-right:1px;
		overflow:hidden;
		padding:5px;15px;
		text-align:center;
		width:99px;
	}
	#jnImageroll div a{
		text-decoration:none;
	}
	#jnImageroll div a em{
		cursor:pointer;
		display:block;
		height:20px;
		overflow:hidden;
		width:109px;
		font-size:15px;
	}
	#jnImageroll .last{
		margin:0;
		width:90px;
	}
	#jnImageroll a.chos{
		background:;
		color:#FFFFFF;
	}